* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}
 /* not sure if I need this */
body {
    padding-top: 40px;
}

/* Paralax scrolling effect*/

.paralax1 {
    background: url('Images/Paralax1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.paralax2 {
    background: url('Images/Paralax2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.paralax3 {
    background: url('Images/Paralax3.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

/* Navbar */

.navbar-custom {
    background-color: hotpink;
}

.nav-link-custom {
    font-size: 1.5em;
}

/* Landing page */

.landingpage h1{
    text-align: center;
    font-size: 100px;
    padding-top: 100px;
    font-weight: bolder;
    color: black;
    font-family: 'Roboto Mono', monospace;
}

.container-landing{
    height:500px;
    align-items: center;
}

.landingpage {
    padding: 40px 0px;
}

/* About me section */

.aboutme {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#placeholder:target {
    top:-100px;
    position:relative;
}

.aboutme p {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.photo-grid-item img {
    width: 220px;
    height:220px;
    border-radius: 150px;
}

.photo-grid-item {
    justify-content: center;
    padding-bottom: 40px;
}

/* Portfolio */
.card-img-top {
    width: 300px;
}

.card-title-custom {
    text-align: center;
    font-weight: bold;
}

.card-block {
    padding: 0px 20px;
}

.portfolio {
    padding: 25px;
}

/* Contact section - Form */

.container {
    padding: 15px;
}

.contact-form {
    width:500px;
    text-align:center;
  }

  input,textarea{
    width:100%;
    line-height:1.5;
    margin:10px;
    text-align:center;
    font-size:18px;
  }

  button{
    background-color: hotpink;
    color: black;
    border-style:none;
    padding:20px;
    margin:10px;
    text-transform:uppercase;
    font-weight:600;
    border-radius:10px;
    font-size:20px;
  }

  /* Footer */

  .col-custom {
      padding: 30px;
  }

  /* Responsive */

  @media screen and (max-width: 600px) {
    .paralax1 {
        background: url('Images/Paralax1.jpg') center;
        height: 200px;
    }
    .paralax2 {
        background: url('Images/Paralax2.jpg') center;
        height: 200px;
    }
    .paralax3 {
        background: url('Images/Paralax3.jpg') center;
        height: 200px;
    }
    .landingpage h1 {
        font-size: 50px;
        padding-top: 0px;
    }
    .container-landing {
        height: 300px;
    }
    .landingpage {
        padding: 0px;
    }
    .aboutme p {
        font-size: 15px;
    }
    .card-img-top {
        width: 200px;
    }
}